body {
    font-family: Arial, sans-serif;
    color: black;
    background-size: cover !important;
    background: url("/static/img/shop.jpg") no-repeat;
}

.container {
    max-width: 1320px;
}

.nav-link, .navbar-brand {
  color: white;
}

.float-menu {
    float: right;
}

.card {
    background-color: #e8e4df;
}

.card-margin {
    margin-top: 60px;
    margin-left: 60px;
}

.card-product-margin {
    margin-top: 50px;
    margin-left: 50px;
}

.img-fluid {
    height: 100%;
    width: 100%;
}

.card-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.small-text {
    font-size: 13px;
}

.edit-button{
    width: 70px;
}

.margin-red-button {
    margin-right: 20px;
}

.margin-blue-button {
    margin-right: 10px;
}

.padding-category {
    padding-top: 10px;
}

textarea {
    resize: both;
    height: 100%;
    width: 100%;
}

.margin-buttons {
    margin-bottom: 15px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.btn-primary {
    margin-left: 20px;
}

h1 {
    margin-top: 50px;
    margin-left: 50px;
}