{% extends 'base.html' %}
{% block title %}Products{% endblock %}
{% block content %}
    <div class="container">
    <h1>Products</h1>
        <div class="row">
            {% for product in products %}
                {% if product.remaining >= 1 %}
                    <div class="card mb-3 card-margin" style="max-width: 450px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.category }}</p>
                                <h5>Price: {{ product.price }}$</h5>
                                <a href="{% url 'detail_product' product.pk %}">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

